# fly.toml app configuration file generated for thoop-proxy on 2025-12-23T21:54:37-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'thoop-proxy'
primary_region = 'iad'

[build]

[env]
  BASE_URL = 'https://thoop-proxy.fly.dev'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
